.unrealbody{
    background: linear-gradient(90deg, hsla(4, 100%, 70%, 1) 0%, hsla(231, 64%, 70%, 1) 100%);
}
.unrealfo{
position: relative;
color: white;
margin-bottom: 0rem;
}
.unrealtext{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1%;
  width: 70%;
}
.unrealkep{
    filter: blur(2px);
}
.h1{
    font-size:calc(1.65rem);
}
.unrealh2{
    font-size: 1.7rem;
    background-color: #8456cf;
    border-radius: 0.5rem;
    color: #150a26;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500;
}
.jatekh2{
    font-size: 1.7rem;
    border-radius: 0.5rem;
    color: #150a26;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 500;
}
.h3{
    font-size: 1.6rem;
    color: #8456cf;
    margin-bottom: 0.5rem;
}
.jatekh3{
    font-size: 1.6rem;
    color: #150a26;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.unrealsection{
    background-color: #150a26;
    color: white;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1vw;
}
.unrealjatek{
    margin: 1vw;
    padding: 1rem 1rem 1rem 1rem;
}

.row{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.unrealimg{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.hidden1{
    opacity: 0;
    filter: blur(2px);
    transition: all 3s;
}
.hidden2{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(+20%);
    transition: all 2.5s;
}
.hiddenfo{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-20%);
    transition: all 2.75s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}
@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}
.p{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.pjatek{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: #150a26;
    font-weight: 500;
}
.navbar{
    background-color: #150a26;
}
.nav-link{
    color: #8456cf;
}
.nav-link:hover{
    color: white;
    transition: all 0.3s ease-in-out;
}
.nav-link:focus{
    color: white !important;
}
.navbar-brand{
    color: #8456cf;
}
.active{
    color: white;
    font-weight: bold;
}
@media only screen and (max-width: 780px) {
    .h1{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 300px) {
    .h1{
        font-size: 0.7rem;
    }
}
.navbar-toggler{
    color: white;
    background-color: #8456cf;
}
.dropdown-item{
    color: #8456cf;
}
.dropdown-item:focus{
    color: white;
    font-weight: bold;
    background-color: #150a26;
}
.dropdown-item:hover{
    color: white;
    font-weight: bold;
    background-color: #150a26;
    transition: all 0.3s ease-in-out;
}
.dropdown-menu{
    background-color: #150a26;
    width: 13.5rem;
}
.navbar-brand:hover{
    color: white;
    transition: all 0.3s ease-in-out;
}
.navbar-brand:focus{
    color: white !important;
}